html {
  box-sizing: border-box;
  background-color: #ffffff;
  line-height: 1.5;
}

main {
  margin: 1em;
}

body {
  margin: 0;
  font-family: Georgia;
}
h1 {
  font-family:'Sigmar One',cursive;
  text-align: center;
  font-size: 3rem;
  color: #b20953;
}

.info-boxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.info-boxes li {
  display: inline-block;
  margin: 5px .5px 10px .5px;
  padding: .3em;
  background-color: #b2a212;
  border-radius: 5px;
  max-width: 20em;
}

.info-boxes li:hover {
  background-color: #b20953;
}

.berry {
  font-family:'Sigmar One', cursive;
  font-size: 1.875rem;
  color: #b20953;
}

ul {
  color: #fff;
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}

header {
  display: block;
  margin: 0em;
  padding: .2em;
  background-color: #ffe500;
}

footer {
  font-size: 0.75rem;
  display: block;
  margin: 0em;
  padding: .5em;
  background-color: #ffe500;
  text-align: center;
}
